#board {
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    display: none;
}

#board div{
    height: 60px;
    width: 60px;
}

#score-board{
    display: none;
}

#pop-up{
    display: none;
}

#outer-boarder{
    border: 1px solid black;
    width:  580px;
    height: 580px;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}