#board {
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    display: none;
}

#board div{
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-size: 50px;
    background-repeat:no-repeat;
    background-position: center;
}

.square-with-board {
    box-sizing: border-box;
     border: 1px solid black;
}

#score-board{
    display: none;
}

#pop-up{
    display: none;
}

#outer-boarder{
    border: 1px solid black;
    width:  580px;
    height: 580px;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button{
    cursor: pointer;
}